<!DOCTYPE html>
<html>
<head>
    <title>{{.author.Name}} - Library</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    {{template "nav" .}}
    <main>
        <p><a href="/authors">&larr; Back to authors</a></p>
        <h1>{{.author.Name}}</h1>
        <h2>Books</h2>
        <ul class="list">
        {{range .books}}
            <li><a href="/books/{{.ID}}">{{.Title}}</a></li>
        {{else}}
            <li>No books by this author yet.</li>
        {{end}}
        </ul>
    </main>
</body>
</html>
